.big {
  font-size: 30px;
  padding: 10px;
}

.cartaContador {
  background-color: coral;
  color: white;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
  width: 200px;
}

.cartaGerada {
  margin-top: 30px;
}

.criarCarta {
  display: inline-block;
}

.input {
  border: 3px solid steelblue;
  margin-right: 10px;
  width: 200px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

span {
  margin-left: 10px;
}
